{% extends 'adminlte/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

{# TODO: implement way to edit skills #}

<form action="{% url 'edit_profile' user.username %}" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}  
      {{ form.status }}    
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %} 
      <div class="pull-right">      
        <input type="submit" value="Submit">     
      </div>
</form>

{% endblock content %}
