{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{# Clear out javascript block at bottom of page so we can import specific js #}
{% block javascript %}
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/app.min.js' %}"></script>

<!-- Slimscroll -->
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'js/fastclick.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>

<!-- <script src="{% static 'js/fullcalendar.min.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"/>

<!-- <script src="{% static 'js/schedule.js' %}"></script> -->

<script>
  events = JSON.parse(JSON.stringify({{json_events}}))
  
  // For Refresh feature ( Refresh feature step 6)
  var checkChange=true;
  
  var current_user=JSON.parse(JSON.stringify('{{this_user}}'));
  console.log(current_user)
  $(document).ready(function() {

      // Function triggered by submit button
      // verfies events and then calls helper function
      // postEvents to send all client side events to server.
      $('#submit-events').on('submit', function(event){
          // Prevent default behavior of submit form.
          event.preventDefault();
          // Get map of all events added on client side so far.
          var eventsOnSubmit = $('#calendar').fullCalendar('clientEvents');

          if (!Array.isArray(eventsOnSubmit) || !eventsOnSubmit.length) {
            // Array does not exist, is not an array, or is empty.
            $('#emptyAlert').css('display', 'block');
            //alert("Did you forget to fill out your availability?")
          }
          else {
		  
		  // For Refresh feature ( Refresh feature step 7)
		  checkChange=false;
		  
            // Prepare to send event list to server.
            postEvents(eventsOnSubmit);
          }
      });
	  
	    // Clear button feature step 1
	    $("#savebtn").on("click",function(){
            console.log("click");
            $("#emptyAlert").hide();
            postEvents([]);
      });

      $('#clear-events').on('submit', function(event){
          // Prevent default behavior of submit form.
          event.preventDefault();
          // Get map of all events added on client side so far.
          var eventsOnSubmit = $('#calendar').fullCalendar('removeEvents');
		  
		  // For Refresh feature ( Refresh feature step 8)
		  checkChange=false;

          postEvents(eventsOnSubmit);

      });


      // Ajax post call to server, converts circular data structure
      // to list then to JSON.
      function postEvents(cEvents) {
	  
          //Clear button feature step 2 (The sturcture has changed here, be careful)
          var jsonEvents=null;
          if(cEvents==undefined||cEvents.length==0){
                cEvents=[];
                jsonEvents="[]";
          }else{
            jsonEvents=JSON.stringify(cEvents.map(function (e)
                {
                    return {
                      title: e.title,
                      start: e.start,
                      end: e.end,
                      initiator: e.initiator
                        
                    }
                }))
			}
              $.ajax({
              url: 'ajax/save_event/',
              type: 'POST',
              data: {
                // Need to stringfy cEvents (circular structure), but must first
                // iterate through and create a simplier representation.
                jsonEvents:jsonEvents
              },
			  
              success: function (response) {
                // Get the response from server and process it
                // In this case simply alert the user.
				
				// For Refresh feature (Refresh feature step 9)
				events=cEvents.map(function(e){
                    return {
                      title:e.title,
                      start:e.start,
                      end:e.end,
                      initiator: e.initiator
                       
                    }
                });
				
				// For Refresh feature (Refresh feature step 9.5)
                 checkChange=true;
				
                alert(response);
              },
              error: function (xhr) {
                // Open JS debugger if ya goofed. Alert with last object.
                // This should really trigger a 500 server error.
                debugger;
                alert(xhr);
            }
          });
      };

      $('#time_limit').click(function(){
        var data=$('#time_limit').val()
        data=JSON.stringify(data)
        $.ajax({
              url: 'ajax/save_time_limit/',
              type: 'POST',
              data: {
                time:data
              },
        success: function (response) {
          alert(response);
        },
        error:function(xhr){
          debugger;
          alert(xhr)
        }
      })
      });

      // INITIALIZE CALENDAR. Options and callbacks set below. ----------------------------------------------------
      $('#calendar').fullCalendar({

          // Show montly, weekly and daily agenda for editing schedules.
          defaultView: 'month',
          fixedWeekCount: false,
          showNonCurrentDates: true,

          // HEADER
          header: {
            left: 'today prev,next',
            center: 'title',
            right: 'agendaDay,agendaWeek,month'
          },

          customButtons: {
            addEventBtn: {
              text: 'add event',
              click: function(){
                alert('button clicked!');
              }
            }
          },


          // COLUMN HEADER DATE FORMATS
          views: {
            month: {
              titleFormat: 'MMMM YYYY',
              columnFormat: 'dddd'
            },
            agenda: {
              columnFormat: 'ddd M/D'
            }
          }, 
          // FOOTER
          // automatically set to default: false 

          businessHours: {
              // days of week. an array of zero-based day of week integers (0=Sunday)
              dow: [0, 1, 2, 3, 4, 5, 6], // Monday - Friday


              start: '8:00', // a start time (10am in this example)
              end: '22:00', // an end time (6pm in this example)
          },


          defaultView: 'month',
          // Can click day/week names to navigate views
          navLinks: true,
          // Here Sean -andgates
          allDaySlot: true,
          // Allow users to resize events.
          editable: true,
          // Allow "more" link when too many events.
          eventLimit: true,
          events:events,
          eventOverlap:false,
          // Allow selection for select function.
          selectable: true,
          selectHelper: true, 

           //Limit the user to set the appointment 
          selectOverlap: function(event){
            return event.rendering === 'background';
          },
          
          //Double click event to delete
          eventRender: function(event, element) {
            element.on('dblclick',event, function(){
              event_start=moment(event.start).format('MMMM Do YYYY, h:mm:ss a')
              event_end=moment(event.end).format('MMMM Do YYYY, h:mm:ss a ')
              $('#eventModal').modal('show');
              $('#eventModal').modal('handleUpdate');
              $('#eventModalTitle').html(event.title);
              $('#eventModalStart').html(event_start);
              $('#eventModalEnd').html(event_end);
              $('#eventDelete').click(event,function(){
                $('#calendar').fullCalendar('removeEvents', event._id);
              });
            });
            var ending = event.end ? "\nEnd: " + event.end.format('LT') : ""
            element.popover({         //Popover when hover over event
              animation:true,
              delay: 300,
              content: event.title + "\n" + "Start: " + event.start.format('LT') + "\n" + ending,
              trigger: 'hover'
            });
          },

        
          // Function called on select event.
          // Adapted from https://fullcalendar.io/js/fullcalendar-3.4.0/demos/selectable.html
          select: function(start, end) {
            // Title is always Busy in edit_schedule
            var title = 'Busy';
            // Event Object to be passed to renderEvent
            var eventData;

            // Always true (likely change this to a check for "all day")
            if (title) {
              // Populate the Event Object. TODO: Add attributes.
              eventData = {
                title: title,
                start: start.format(),
                end: end.format(),
                initiator: current_user
              };
              // Render the event object with 'stick' set to true
              // so events persist unless page refresh.
    
              $('#calendar').fullCalendar('renderEvent', eventData, true);

            }
            // Unselct event area before exiting select method.
            $('#calendar').fullCalendar('unselect');
          },

      }) // End fullCalendar initialization.

	   // Main code for the Refresh feature (Refresh feature step 10)
	var confirmTag=false;

      setInterval(function(){
      	$.ajax({
              url: 'ajax/refresh_schedule/',
              type: 'POST',
              success: function (response) {
              	var resp=response.split(" ").join("");
              	if(JSON.stringify(events)!=resp&&checkChange){
              	    events=JSON.parse(resp);
              		if(!confirmTag){
              			confirmTag=true;
              			var sure=confirm("New schedule is detected. Do you need refresh this schedule?");
              			if(sure){
              				window.location.reload();
              			}
              			confirmTag=false;
              		}

              	}
              }
          });
      },1000)
    
  }); // End main function.
  function setTimeLimit(event){
        var set_time=document.getElementById('time_limit')
        if(event.target.value !== '0'){
          set_time.style.visibility="visible"
          set_time.value=event.target.value  
        }else{
          set_time.style.visibility="hidden"
        }
      }
</script>


{% endblock javascript %}


{% block stylesheets %}

  {{ block.super }}

  <!-- fullCalendar 2.2.5-->
  <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fullcalendar.print.css' %}" media="print">

{% endblock stylesheets %}

{# Add the breadcrumbs for this page #}
{% block crumb %}

{# Breadcrumb for the course that this project is in #}
<li><a href="{% url 'edit_profile' user.username %}"> {{user.username}} </a></li>

{# Breadcrumb for this project #}
<li><a href="{% url 'edit_schedule' user.username %}"> Edit Schedule </a></li>

{% endblock crumb %}



{% block content %}

<section class="content">
   
<div class="alert alert-warning alert-dismissible" id="emptyAlert" style="display:none;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
     
	 {# Clear button feature step 3 #}
	  <div>Did you forget to fill out your schedule?</div>
    <div style="overflow:hidden;">
        <div style="float:right;">
            <button class="btn" data-dismiss="alert" aria-hidden="true" style="background:#666666;">Cancel</button>
            <button  class="btn" id="savebtn" style="background:#003a6c;">Save</button>
        </div>
    </div>
	 
</div>

    <a href="{% url 'import_schedule' user.username %}" class="btn btn-info" role="button">Import</a>
    <a href="{% url 'export_schedule' user.username %}" class="btn btn-success" role="button">Export</a>
    <a href="{% url 'revoke_access' user.username %}" class="btn btn-danger" role="button">Revoke</a>
    {% if is_Prof %}
    <form class="form-inline" method="POST">
      {% csrf_token %}
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Meeting Limit</label>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormTimeSelectPref" onchange="setTimeLimit(event)">
        <option selected value="0">Pick time</option>
        <option value="30">00:30</option>
        <option value="60">01:00</option>
        <option value="90">01:30</option>
        <option value="120">02:00</option>
      </select>
      <input style="visibility:hidden" type="submit" class="btn btn-primary my-1" id="time_limit" value="Submit"></input>
    </form>
    {% endif %}
    
      <div class="row">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar">

              </div>
              <!-- /.calendar -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->

        <div class="pull-right">
          <form method="POST" id="submit-events">
            {% csrf_token %}
            <input type="submit" name "submit" value="Submit">
          </form>
        </div>

        <div class="pull-left" id="clear-events">
          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-warning btn-sm pull-left"><i class="fa fa-refresh"></i>Clear Schedule</button>
          </form>
        </div>

      </div>
      
      <!-- /.row -->
      
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="eventModalTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h2 id="eventModalStart"></h2>
              <span>To</span>
              <h2 id="eventModalEnd"></h2>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="eventDelete">Delete Event</button>
            </div>
          </div>
        </div>
      </div> 
</section>



{% endblock content %}
