{% extends 'adminlte/base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block content %}
<div>
  <h1>{{ page_user.profile.name}} - {{ page_user.username }}</h1>
  <h5>University of California, Santa Cruz</h5>
  <h6>{{ page_user.email }}</h6>
</div>

<div>
<h3>Bio</h3>
{{ page_user.profile.bio }}
</div>


<div>
<h3>Known Skills</h3>
  <ul>
   {% for skill in page_user.profile.known_skills.all %}
    <li>{{ skill.skill }}</li>
   {% endfor%}
  </ul>
</div>

<div>
<h3>Learn Skills</h3>
  <ul>
    {% for skill in page_user.profile.learn_skills.all %}
      <li>{{ skill.skill }}</li>
    {% endfor%}
  </ul>
</div>

{% endblock content %}
