{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/course.js' %}"></script>
{% endblock head %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'view_course' %}">Courses</a></li>
    <li><a href="{% url 'create_course' %}">Create a new course</a></li>
</ol>

<form action="{% url 'create_course' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {% if field.label == 'Weight of user interest in project' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of interest when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {% if field.label == 'Weight of skills users already know' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of knowing a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {% if field.label == 'Weight of skills users want to learn' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of wanting to learn a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {% if field.label == 'Limit projects to only use specified weights for matches' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Have students match based on the overwrited weights from above  "><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit" value="Create Course">
</form>

{% endblock content %}
