{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/course.js' %}"></script>
{% endblock head %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'view_course' %}">Courses</a></li>
    <li>
        <a href="{% url 'view_one_course' course.slug %}">
            {{ course.name }}
        </a>
    </li>
    <li>
        <a href="{% url 'edit_course' course.slug %}">
            Edit course
        </a>
    </li>
</ol>


<div class="row">
    <div class="col-md-10">
        <form action="{% url 'edit_course' course.slug %}" method="post" role="form"
            class="clearfix" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.status }}
            {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="form-group">
                <button class="btn btn-info" name="send_emails" value="send_emails">Email Roster</button>
            </div>

            <div class="pull-left">
            <a href="{% url 'view_one_course' course.slug %}">
                <button class="btn btn-danger" type="button">
                    Cancel
                </button>
            </a>
            </div>
            <div class="pull-right">
                <button class="btn btn-success" type="submit" name="SUBMIT">
                    Save changes
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-10 clearfix">
        <h2>Delete course</h2>

        <p>
            Note that deleting a course is <strong>IRREVERSIBLE</strong>, please make
            sure you know what you are doing before pressing this button.
        </p>

        <a href="{% url 'delete_course' course.slug %}">
            <button class="btn btn-danger" name="DELETE">
                <i class="fa fa-trash"></i>
                Delete course
            </button>
        </a>
    </div>
</div>


{% endblock content %}
