{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/course.js' %}"></script>
{% endblock head %}

{% block content %}
  <form action="{% url 'join_course' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
      </div>
    {% endfor %}
    <input type="submit" value="Join Course">
  </form>

{% endblock content %}
