{% extends 'adminlte/base.html' %}

{% load static %}
{% load i18n %}


{% block content %}

<h2 class="page-header">
    {{ course.name }}
    <i class="fa fa-graduation-cap"></i>
    <i class="pull-right">
        <b>{{ course.term }}</b>
        {{ course.year }}
    </i>
</h2>

{% if user.profile.isProf %}
{% endif %}
<div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#description" data-toggle="tab" aria-expanded="true">
                    Description
                    <i class="fa fa-info-circle"></i>
                </a>
            </li>
            <li class="">
                <a href="#projects" data-toggle="tab"aria-expanded="false">
                    Projects
                    <i class="fa fa-code-fork"></i>
                </a>
            </li>
            {% if user.profile.isProf %}
            <li class="">
                <a href="#members" data-toggle="tab" aria-expanded="false">
                    Members
                    <i class="fa fa-group"></i>
                </a>
            </li>
            {% endif %}
            <li class="pull-right">
                <a href="#admin" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gear"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="description">
                <h3>Description</h3>
                {{ course.info }}
                <h3>Updates</h3>
                {% for update in updates %}
                <p>{{ update.title }}</p>
                {% empty %}
                There are no updates
                {% endfor %}
            </div>
            <div class="tab-pane" id="projects">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default"
                            onclick="window.location.href='{% url 'view_one_project' project.slug %}'">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ project.title }}</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <strong>Owner</strong>
                                    <span class="label label-success">
                                        {{ project.creator }}
                                    </span>
                                </p>
                                <p><strong>Members</strong>
                                    {% for mem in project.members.all %}
                                    {% if mem.username != null %}
                                    <span class="label label-primary">
                                        {{ mem.username }}
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-warning" role="alert">
                        <i class="fa fa-warning"></i>
                        There are no projects yet. Go ahead and
                        <a href="{% url 'create_project' %}" class="alert-link">
                            create one now!
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="members">
                <h3>Instructor</h3>
                TODO: add instructor
                <h3>Students</h3>
                {% for studs in course.students.all %}
                {% if studs.username != null %}
                <span class="label label-primary">
                    {{ studs.username }}
                </span>
                <span> </span>
                {% endif %}
                {% endfor %}
            </div>
            {% if user.profile.isProf %}
            <div class="tab-pane" id="admin">
                <h3>Edit Course Info</h3>
                <p>
                    <a href="{% url 'edit_course' course.slug %}">
                        <button class="btn btn-success">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                    </a>
                </p>
                <h3>Invite Students</h3>
                <p>
                    You can add students yourself in the <b>Edit Course</b> form
                    above, or have them add themselves using the addcode
                    provided below.
                </p>
                <p>
                    <b>Add Code:</b> <i>{{ course.addCode }}</i>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
