{% extends 'adminlte/base.html' %}

{% load static %}
{% load i18n %}

{% block title %} Courses {% endblock %}

{% block head %}
<link href="{% static 'css/courses.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1> Courses </h1>
</div>
<div class="row">
    <div class="col-md-10">
        <section class="courses" clearfix>
            {% for course in courses %}

            
           <a href="course/{{ course.name }}/">
           {# TODO: <a href="{% url 'view_one_course' course.name %}"> #}


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ course.name }}</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Students</strong>
                        {% for studs in course.students.all %}
                        {% if studs.username != null %}
                        <span class="label label-primary">
                            {{ studs.username }}
                        </span>
                        <span> </span>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>    

            </a>
            {% empty %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-warning"></i>
                There are no courses yet. Go ahead and
                <a href="{% url 'create_course' %}" class="alert-link">
                    create one now!
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
</div>
<!--paginator-->

{% endblock content %}
