{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %} All Courses {% endblock %}

{% block head %}
<link href="{% static 'css/courses.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'view_course' %}">Courses</a></li>
</ol>

<div class="row">
    <div class="col-md-10">
        <section class="courses" clearfix>

            {% for course in courses %}
            <div class="panel panel-primary"
                onclick="window.location.href='{% url 'view_one_course' course.slug %}'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">
                        {{ course.name }}
                        <i class="pull-right">
                            <b>{{ course.term }}</b>
                            {{ course.year }}
                        </i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p><i>{{ course.info }}</i></p>
                </div>
            </div>

            {% empty %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-warning"></i>
                There are no courses yet. Go ahead and
                {% if user.profile.isProf %}
                <a href="{% url 'create_course' %}" class="alert-link">
                    create one now!
                    {% else %}
                    <a href="{% url 'join_course' %}" class="alert-link">
                        join one now!
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
    <!--paginator-->

    {% endblock content %}
