{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %} Statistics {% endblock %}

{% block head %}
<link href="{% static 'css/courses.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<section class="statistics">
    <div class="My Courses">
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>Students:</b> {{cleanup_students|length}}
                        </h2>
                    </div>
                    <div class="panel-body">
                            {% for student in cleanup_students %}
                                <li>{{student}}</li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>Projects:</b> {{cleanup_projects|length}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            {% for project in cleanup_projects %}
                                <li>{{project.title}}</li>
                                <ul>
                                    {% for mem in project.members.all %}
                                        <li>{{mem}}</li>

                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>Students Not in Projects:</b> {{students_projects_not|length}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            {% for student in students_projects_not %}
                                <li>{{student}}</li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>Emails:</b> {{emails|length}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            {% for student_email in emails %}
                                <li>{{student_email}}</li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

    </div>
</section>

{% endblock content %}



<!--
1. Calculate number of students in course.
    -add variable students_num to Courses class
    -length?
2. Calculate number of projects in course.
    -add variable projects_num to Courses class
3. Calculate number of students in course not in projects.
    -find number of students in projects
        -add variable current_mems to Project class
        -traverse through projects in for loop. increment value
    -subtract result from students_num
4. Extract students emails.
    -add variable email to membership class
-->
