{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block stylesheets %}

  {{block.super}}

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/Scrollbar.css' %}">
{% endblock stylesheets %}

{% block crumb %}
    <li><a href="{% url 'view_course' %}">Courses</a></li>
    <li>
        <a href="{% url 'view_one_course' course.slug %}">
            {{ course.name }}
        </a>
    </li>
{% endblock crumb %}



{% block content %}

<div>

    {% if user == course.creator %}
    <div class="alert alert-success" role="alert">
        You are an instructor of this course.
    </div>
    {% elif user not in course.students.all %}
        {% if not user.profile.isGT %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-warning"></i>
                You are not a member of this course.
            </div>
        {% endif %}
    {% endif %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">
                <a href="#description" data-toggle="tab" aria-expanded="true">
                    Description
                    <i class="fa fa-info-circle"></i>
                </a>
            </li>
            <li class="active">
                <a href="#projects" data-toggle="tab"aria-expanded="false">
                    Projects
                    <i class="fa fa-code-fork"></i>
                </a>
            <li class="">
                <a href="#members" data-toggle="tab" aria-expanded="false">
                    Members
                    <i class="fa fa-group"></i>
                </a>
            </li>

            {% if user == course.creator or user.profile.isGT%}
            <li class="pull-right">
                <a href="#admin" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gear"></i>
                </a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content" style="background-color: #ecf0f5">

            <div class="tab-pane active" id="projects">
                {% if user != course.creator %}
                    {% if not user.profile.isGT %}
                        {% if not course.limit_interest %}
                            <div class="row">
                                <div class="alert alert-info" role="alert">
                                    <a href="{% url 'show_interest' course.slug %}" class="alert-link">
                                        Show interest in these projects!
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

                    {% include "projects/partial_project_box.html" with projects=projects %}

            </div>

            <div class="tab-pane" id="description">
                <div>
                <h3>Description: {{ course.info }}</h3>
                </div>

                {% comment %}

                <div class="row">

                  <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow" onclick="window.location ='{% url 'update_course' course.slug %}'">
                      <div class="inner">
                        <h3>{{course.students.all.count}}</h3>

                        <p>Course Members</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a href="#" class="small-box-footer">
                        View All <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                  </div> <!-- ./col -->

                    <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                      <div class="inner">
                        <h3>{{course.projects.all.count}}</h3>

                        <p>Projects</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-briefcase"></i>
                      </div>
                      <a href="#" class="small-box-footer">
                        View All <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                  </div> <!-- ./col -->

                </div> <!-- ./row -->

                {% endcomment %}

                <h3>Updates</h3>
                <ul class="timeline">
                    {% if user == course.creator or user.profile.isGT%}
                    <li style="list-style: none"
                        onclick="window.location =
                        '{% url 'update_course' course.slug %}'">
                        <i class="fa fa-plus bg-green"></i>
                        <div class="timeline-item"
                            style="background-color: #ecf0f5">
                            <div class="timeline-header">
                                Add an update
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% for date_update in date_updates %}
                    <li class="time-label" style="list-style: none">
                        <span class="bg-blue">
                            {{ date_update.date }}
                        </span>
                    </li>
                    {% for update in date_update.updates %}
                    <li style="list-style: none">
                        <i class="fa fa-comments bg-blue"></i>
                        <div class="timeline-item">
                            <div class="timeline-header clearfix">
                                {{ update.title }}
                                {% if user == update.creator or user.profile.isGT%}
                                <span class="pull-right">
                                    <a href='{% url 'update_course_update' course.slug update.id %}'>
                                        <button class="btn btn-default btn-xs">
                                            <i class="fa fa-gear"></i>
                                        </button>
                                    </a>
                                </span>
                                {% endif %}
                            </div>
                            <div class="timeline-body">
                                {{ update.content }}
                            </div>
                            <div class="timeline-footer clearfix">
                                <span class="label label-primary"
                                    onclick="window.location =
                                    '{% url 'profile' update.creator.username %}'">
                                    {{ update.creator.username }}
                                </span>
                                <i class="pull-right">
                                    Posted {{ update.date_post }}
                                    {% if update.date_post != update.date_edit %}
                                    , edited {{ update.date_edit }}
                                    {% endif %}
                                </i>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% empty %}
                    <li style="list-style: none">
                        <i class="fa fa-times bg-red"></i>
                        <div class="timeline-item"
                            style="background-color: #ecf0f5">
                            <div class="timeline-header">
                                There are no updates
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li style="list-style: none">
                        <i class="fa fa-clock-o"></i>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="members">

            <div class="row">

                <div class="col-md-3">
                  <!-- USERS LIST -->
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Instructors</h3>

                      <div class="box-tools pull-right">
                        <span class="label label-info">1</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                      <ul class="users-list clearfix">
                        <li style="list-style-type: none;">
                          {% if creator.profile.avatar %}
                            <img src="{{ creator.profile.avatar.url }}" class="img-circle" alt="User Image">
                          {% else %}
                            <img src="https://www.gravatar.com/avatar/0cf665cbc2864084b988b0332fbebaae?s=90&amp;d=mm"
                                class="img-circle" alt="User Image">
                                <!-- <img src="/media/avatars/Greppy.jpg" class="img-circle"  alt="User Image"> -->
                          {% endif %}
                          <a class="users-list-name" href="{% url 'profile' course.creator %}">{{ course.creator }}</a>
                          <span class="users-list-date"><a href="mailto:{{ course.creator.email }}" target="_top">{{ course.creator.email }}</a></span>
                        </li>
                      </ul>
                      <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                    <!-- <div class="box-footer text-center">
                      <a href="javascript:void(0)" class="uppercase">View All Users</a>
                    </div> -->
                    <!-- /.box-footer -->
                  </div>
                  <!--/.box -->
                </div>


                <div class="col-md-9">
                  <!-- USERS LIST -->
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Students</h3>

                      <div class="box-tools pull-right">
                        <span class="label label-danger">{{ students|length }}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding largeScrollStyle">
                      <ul class="users-list clearfix">

                        {% for studs in students %}
                        {% if studs.username != null %}
                        <a href="{% url 'profile' studs.username %}">
                        <li style="list-style-type: none;">
                          {% if studs.avatar %}
                            <img src="{{ studs.avatar.url }}" class="img-circle" alt="User Image">
                          {% else %}
                            <img src="https://www.gravatar.com/avatar/0cf665cbc2864084b988b0332fbebaae?s=90&amp;d=mm"
                                class="img-circle" alt="User Image">
                                <!-- <img src="/media/avatars/Greppy.jpg" class="img-circle"  alt="User Image"> -->
                          {% endif %}
                          </a>
                          <a class="users-list-name" href="{% url 'profile' studs.username %}">{% firstof studs.user.get_short_name studs.get_username %}</a>
                          <span class="users-list-date"><a href="mailto:{{studs.email}}" target="_top">{{studs.email}}</a></span>
                        </li>
                        {% endif %}
                        {% empty %}
                        <p>There are no students enrolled in this course</p>
                        {% endfor %}
                      </ul>
                      <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                    <!-- <div class="box-footer text-center">
                      <a href="javascript:void(0)" class="uppercase">View All Users</a>
                    </div> -->
                    <!-- /.box-footer -->
                  </div>
                  <!--/.box -->
                </div>

                </div>
            </div>


            {% if user == course.creator  or user.profile.isGT%}
            <div class="tab-pane" id="admin">
                <h3>Edit Course Info</h3>
                <p>
                    <a href="{% url 'edit_course' course.slug %}">
                        <button class="btn btn-success">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                    </a>
                </p>
                <h3>View Class Statistics</h3>
                <p>
                    <a href="{% url 'view_statistics' course.slug %}">
                        <button class="btn btn-info">
                        <i class="fa fa-line-chart"></i>
                        Stats
                        </button>
                    </a>
                </p>
                <h3>Email Roster</h3>
                <p>
                    <a href="{% url 'email_roster' course.slug %}">
                        <button class="btn btn-info">
                            <i class="fa fa-envelope-o"></i>
                            Email Roster
                        </button>
                    </a>
                </p>
                <h3>Lock Interest</h3>
                <p>
                    {% if not course.limit_interest %}
                        <a href="{% url 'lock_interest' course.slug %}">
                            <button class="btn btn-danger" name="lock">
                                <i class="fa fa-lock"></i>
                                Lock
                            </button>
                        </a>
                    {% else %}
                        <a href="{% url 'lock_interest' course.slug %}">
                            <button class="btn btn-info" name="lock">
                                <i class="fa fa-unlock"></i>
                                Unlock
                            </button>
                        </a>
                    {% endif %}

                </p>
                <h3>Auto Generate Teams</h3>
                <p>
                    <a href="{% url 'auto_gen' course.slug %}">
                        <button class="btn btn-info">
                            <i class="fa fa-users"></i>
                            Generate
                        </button>
                    </a>
                </p>

                <h3>Invite Students</h3>
                <p>
                    You can add students yourself in the <b>Edit Course</b> form
                    above, or have them add themselves using the addcode
                    provided below.
                </p>
                <p>
                    <b>Add Code:</b> <i>{{ course.addCode }}</i>
                </p>
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock content %}
