{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}GT Chat{% endblock %}
{% block header_text %}GT Chat{% endblock %}

{% block crumb %}

{# Breadcrumb for All Chats #}
<li><a href="{% url 'view_chats' %}"> All Chat </a></li>

{% endblock crumb %}

{% block content %}
<!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_0" data-toggle="tab">Welcome</a></li>
                {% for room in rooms %}
                    <li class=""><a href="#tab_{{ room.id }}" data-toggle="tab">{{ room }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    Select chats from the above tabs
                </div>
                {% for room in rooms %}
                    <div class="tab-pane" id="tab_{{ room.id }}">
                        <a href="{% url 'view_one_chat' slug=room.id %}">Click to enter {{ room }}
                        <!-- chat.js SHOULD go here -->
                    </div>
                {% endfor %}
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->


            <a href="{% url 'create_chat' %}">
            <button class="btn btn-success" type="button">
              Create Chatroom
            </button>
            </a>
            </a></li>

            </ul>

{% endblock content%}





