{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}GT Chat{% endblock %}
{% block header_text %}GT Chat{% endblock %}

{% block crumb %}

{# Breadcrumb for All Chats #}
<li><a href="{% url 'view_chats' %}"> All Chat </a></li>

{% endblock crumb %}

{% block content %}


   

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">

  <!-- <a href="#" class="w3-bar-item w3-button">Chat Room 1</a> -->
  
    <!--
  <a href="#" class="w3-bar-item w3-button">Chat Room 2</a>
  <a href="#" class="w3-bar-item w3-button">Chat Room 3</a>
  -->
 
</div>


    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">

<ul class="rooms">
        {% for room in rooms %}
            <li>
            <a href="{% url 'view_one_chat' slug=room.name %}" class="alert-link">
            {{ room }}
            </li>
            <!--<li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>-->
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

            </a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">

  <a href="{% url 'create_chat' %}">
          <button class="btn btn-success" type="button">
              Create Chatroom
          </button>
      </a>
            </a></li>

            </ul>
            </div>
      
</body>

    <div id="chats">
    </div>















{% endblock content%}





