{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block stylesheets %}
  <!-- Select2 -->
    {{block.super}}
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock stylesheets %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/select2.full.min.js' %}"></script>

<script type="text/javascript">

$(document).ready(function() {
  $(".select2").select2({
    ajax: {
      url: "ajax/select_members/",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params.term, // search term
          page: params.page
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;

        console.log(data);
        console.log(params);

        return {
          results: data.items,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    placeholder: "Search for members to add",
    //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    //templateResult: formatRepo, // omitted for brevity, see the source of this page
    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });

  $(".s2_desired_skills").select2({
    ajax: {
      url: "ajax/add_desired_skills/",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params.term, // search term
          page: params.page
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;
        return {
          results: data.items,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    tags: true,
    placeholder: "Search skills",
    //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    //templateResult: formatRepo, // omitted for brevity, see the source of this page
    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });

});

</script>

{% endblock javascript %}

{# Add the breadcrumbs for this page #}
{% block crumb %}

{# Breadcrumb for this project #}
<li class="active"><a href="{% url 'create_project' %}"> Create Project </a></li>

{% endblock crumb %}


{% block content %}

<div class = "row">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Create Project</h3>
          </div>
          <div class="box-body">
          <form action="{% url 'create_project' %}" method="post" role="form" class="clearfix" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.status }}
                {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
                    {% if field.label == 'Content' %}
                      {# {% include 'markdown_editor.html' with textarea='id_content' %} #}
                    {% endif %}
                    {% if field.label == 'Weight of user interest in project' %}
                      <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of interest when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
                    {% endif %}
                    {% if field.label == 'Weight of skills users already know' %}
                      <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of knowing a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
                    {% endif %}
                    {% if field.label == 'Weight of skills users want to learn' %}
                      <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of wanting to learn a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
                    {% endif %}
                    {{ field }}
                    {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label>
                    {% endfor %}
                </div>
                {% endfor %}
            


              <div class="form-group">
                <label>Add Desired Skills</label>
                <select class="form-control s2_desired_skills" id="desired_skills" name="desired_skills" multiple="multiple" style="width: 100%;">
                </select>
              </div>

              <input type="submit" value="Create Project">

              </form>
            </div>
        </div>
 <!-- Col 1 -->


    <!-- <div class="col-md-6 clearfix">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Add Desired Skills to {{project.title}}</h3>
          </div>

          <form action="{% url 'create_project' %}" method="post" role="form" class="clearfix" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label>Add Desired Skills</label>
                  <select class="form-control s2_desired_skills" id="desired_skills" name="desired_skills" multiple="multiple" style="width: 100%;">
                  </select>
                </div>
              </div>

              <div class="box-footer">
                  <div class="pull-right">
                      <button class="btn btn-success" type="submit" name="SUBMIT">
                          Add Desired Skill(s)
                      </button>
                  </div>
              </div>
            </form>
        </div>
    </div> -->
</div>








{% comment %}

{# Working on new forms and select2 #}

<section>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">New Project</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" action="{% url 'create_project' %}" method="post">
    {% csrf_token %}
    <div class="box-body">


    {{ form.status }}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {% if field.label == 'Content' %}
          {# {% include 'markdown_editor.html' with textarea='id_content' %} #}
        {% endif %}
        {% if field.label == 'Weight of user interest in project' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of interest when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {% if field.label == 'Weight of skills users already know' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of knowing a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {% if field.label == 'Weight of skills users want to learn' %}
          <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Overwrite weight of wanting to learn a skill when matching"><i class='glyphicon glyphicon-info-sign'></i></a>
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}


      <div class="form-group">
        <label>Add Members</label>
        <select class="form-control select2" id="members" name="members" multiple="multiple" style="width: 100%;">
        </select>
      </div>

    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</section>

{# Old form below #}
<br><br><br>



<form action="{% url 'create_project' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {% if field.label == 'Content' %}
          {# {% include 'markdown_editor.html' with textarea='id_content' %} #}
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit" value="Post Project">
</form>

{% endcomment %}

{% endblock content %}
