{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/select2.full.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".select2").select2({
      ajax: {
        url: "ajax/edit_select_members/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
          q: params.term, // search term
          page: params.page
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;
        console.log(data);
        console.log(params);
        return {
          results: data.items,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    placeholder: "Search for members to add",
    //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    //templateResult: formatRepo, // omitted for brevity, see the source of this page
    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });
    $(".s2_desired_skills").select2({
      ajax: {
        url: "ajax/add_desired_skills/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
          q: params.term, // search term
          page: params.page
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;
        return {
          results: data.items,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    tags: true,
    placeholder: "Search skills",
    //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    //templateResult: formatRepo, // omitted for brevity, see the source of this page
    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });
//---------------------------------------------------------------------------------------------------------
$(".s2_desired_techs").select2({
  ajax: {
    url: "ajax/add_desired_techs/",
    dataType: 'json',
    delay: 250,
    data: function (params) {
      return {
          q: params.term, // search term
          page: params.page
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;
        return {
          results: data.items,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    tags: true,
    placeholder: "Search Technologies",
    //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    //templateResult: formatRepo, // omitted for brevity, see the source of this page
    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });
//---------------------------------------------------------------------------------------------------------------------------
});
</script>

{% endblock javascript %}

{% block stylesheets %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/Tooltip.css' %}">

{{block.super}}

{% endblock stylesheets %}


{# Add the breadcrumbs for this page #}
{% block crumb %}


{# Breadcrumb for this project #}
<li class="active"><a href="{% url 'view_one_project' project.slug %}"> {{project.title}} </a></li>

{# Breadcrumb for the edit page #}
<li class="active"><a href="{% url 'edit_project' project.slug %}"> Edit </a></li>

{% endblock crumb %}

{% block content %}

<div class = "row">

  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Edit Project</h3>
      </div>
      <form action="{% url 'edit_project' project.slug %}" method="post" role="form" class="clearfix" enctype="multipart/form-data">
        <div class="box-body">
          {% csrf_token %}
          {{ form.status }}

          {{ form.non_field_errors }}

          <div class="form-group">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}" class="control-label">
              Project Title:
            </label>
            {{ form.title }}
          </div>

          <div class="form-group">
            {{ form.tagline.errors }}
            <label for="{{ form.tagline.id_for_label }}" class="control-label">
              Project Tagline:
            </label>
            {{ form.tagline }}
          </div>

          <div class="form-group">
            {{ form.content.errors }}
            <label for="{{ form.content.id_for_label }}" class="control-label">
              Project description <a href="https://daringfireball.net/projects/markdown/syntax">[Markdown supported]</a>:
            </label>
            {{ form.content }}
          </div>

          <div class="form-group">
            {{ form.project_image.errors }}
            <label for="{{ form.project_image.id_for_label }}" class="control-label">
              Project Image:
            </label>
            {{ form.project_image }}
          </div>

          <div class="form-group">
            {{ form.accepting.errors }}
            <label for="{{ form.accepting.id_for_label }}" class="control-label">
              Is this project currently <b>accepting new members</b>?:
            </label> 
            {{ form.accepting }}
          </div>

          {% if request.user.profile.isProf or request.user.profile.isGT %}

          <div class="form-group">
            {{ form.sponsor.errors }}
            <label for="{{ form.sponsor.id_for_label }}" class="control-label">
              Is this project <b>sponsored</b> by a company?:
            </label>
            {{ form.sponsor }}
          </div>

          {% endif %}

          
        </div>


        <div class="box-body">
          <div class="form-group">
            <div class="pull-left">
              <a href="{% url 'view_one_project' project.slug %}">
                <button class="btn btn-default" type="button">
                  Cancel
                </button>
              </a>
            </div>
            <div class="pull-right">
              <button class="btn btn-success" type="submit" name="SUBMIT">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Add Desired Skills to {{project.title}}</h3>
        </div>

        <!-- <div class="col-md-offset-6"> -->
        <div class="box-body">

          <div class="form-group">
            <label>Add Desired Skills</label>
            <select class="form-control s2_desired_skills" id="desired_skills" name="desired_skills" multiple="multiple" style="width: 100%;">
            </select>
          </div>

          <label>Remove Desired Skills</label> <br />
          {% for skill in project.desired_skills.all %}
          <button class="btn btn-danger btn-sm" name="remove_desired_skill" value="{{skill.skill}}"><i class="fa fa-trash"></i> {{skill.skill}}
          </button>
          {% empty %}
          <lead>No desired skills to remove</lead>
          {% endfor %}

        </div>
        <!-- </div> -->
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Add Desired Technologies to {{project.title}}</h3>
        </div>

        <!-- <div class="col-md-offset-6"> -->
        <div class="box-body">

          <div class="form-group">
            <label>Add Desired Technologies</label>
            <select class="form-control s2_desired_techs" id="desired_techs" name="desired_techs" multiple="multiple" style="width: 100%;">
            </select>
          </div>

          <label>Remove Desired Technologies</label> <br />
          {% for tech in project.desired_techs.all %}
          <button class="btn btn-danger btn-sm" name="remove_desired_tech" value="{{tech.tech}}"><i class="fa fa-trash"></i> {{tech.tech}}
          </button>
          {% empty %}
          <lead>No desired technologies to remove</lead>
          {% endfor %}

        </div>
        <!-- </div> -->
      </div>

    
</div>
    <div class="col-md-6">
      <div class="box box-info">
       <div class="box-header with-border">
         <h3 class="box-title">Project Members</h3>
       </div>

       <div class="box-body">
         <!-- TEMPORARY -->
         <ul class="nav nav-pills nav-stacked">

          <!-- PROJECT OWNER DROPDOWN -->
          <div class="form-group">
            <label>
              Project Owner:
            </label>
            {{ form.project_owner }}
          </div>

          <!-- SCRUM MASTER DROPDOWN -->
          <div class="form-group">
            <label>
              Scrum Master:
            </label>
            {{ form.scrum_master }}
          </div>

          <table class="table table-hover">
            <tbody>
                          <!-- <tr>
                            <th>Members</th>
                            <th>Scrum</th>
                            <th>PO</th>
                            <th>Remove</th>
                          </tr> -->
                          {% for mem in members %}
                          <!-- username -->
                          <tr>
                            <td>
                              <a href="{% url 'profile' mem.username %}">{{ mem.username }}</a>
                            </td>
                            <!-- promote to scrum master -->
                          <!-- <td>
                              {% if not mem == project.scrum_master %}
                              <button class="btn btn-default btn-sm" name="make_scrum" value="{{ mem.username }}">Scrum Master</button>
                              {% else %}
                              <label>Current Scrum Master</label>
                              {% endif %}
                          </td>
                          <td>
                              {% if not mem == project.creator %}
                              <button class="btn btn-default btn-sm" name="promote_user" value="{{ mem.username }}">Project Owner</button>
                              {% else %}
                              <label>Project Owner</label>
                              {% endif %}
                            </td> -->
                            <!-- remove from project -->
                            <td>
                              {% if mem == user %}
                              <button class="btn btn-default btn-sm" name="remove_user" value="{{ mem.username }}">Leave Project</button>
                              {% else %}
                              <button class="btn btn-default btn-sm" name="remove_user" value="{{ mem.username }}">Remove</button>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </ul>

                    <div>
                     <label>Add Members</label>
                     <select class="form-control select2" id="members" name="members" multiple="multiple" style="width: 100%;">
                     </select>
                   </div>
                 </div>

               </div>
               <!-- </div> -->



               <!-- <div class="col-md-6"> -->
               <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Optional Settings</h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    {{form.no_request.errors }}
                    <a class='team-size-tooltip' data-toogle='tooltip' data-placement="left" title="Check to block users from requesting to join your project.">
                    <i class='glyphicon glyphicon-info-sign'></i></a>
                    <label for="{{ form.no_request.id_for_label}}" class="control-label">
                      Lock request ro join:
                    </label>
                      {{form.no_request }}
                  </div>
                  <div class="form-group">
                    {{ form.teamSize.errors }}
                    <label for="{{ form.teamSize.id_for_label }}" class="control-label">
                      Max Team Size:
                    </label>
                    {{ form.teamSize }}
                  </div>

                  <div class="form-group">
                    {{ form.ta_location.errors }}
                    <label for="{{ form.ta_location.id_for_label }}" class="control-label">
                      TA Meeting Location:
                    </label>
                    {{ form.ta_location }}
                  </div>

                  <div class="form-group">
                    {{ form.ta_time.errors }}
                    <label for="{{ form.ta_time.id_for_label }}" class="control-label">
                      TA Meeting Time:
                    </label>
                    {{ form.ta_time }}
                  </div>

                  <div class="form-group">
                    {{ form.weigh_interest.errors }}
                    <label for="{{ form.weigh_interest.id_for_label }}" class="control-label">
                      <span class="tooltip2"><span style="color:#3C8DBC"><i class='glyphicon glyphicon-info-sign'></i></span>
                      <span class="tooltiptext2">Overwrite weight of interest in the project during matching</span>
                    </span>
                    Weight of user interest in project:
                  </label>
                  {{ form.weigh_interest }}
                </div>

                <div class="form-group">
                  {{ form.weigh_know.errors }}
                  <label for="{{ form.weigh_know.id_for_label }}" class="control-label">
                    <span class="tooltip2"><span style="color:#3C8DBC"><i class='glyphicon glyphicon-info-sign'></i></span>
                    <span class="tooltiptext2">Overwrite the weight of knowing a skill during matching</span>
                  </span>
                  Weight of skills users already know
                </label>
                {{ form.weigh_know }}
              </div>

              <div class="form-group">
                {{ form.weigh_learn.errors }}
                <label for="{{ form.weigh_learn.id_for_label }}" class="control-label">
                  <span class="tooltip2"><span style="color:#3C8DBC"><i class='glyphicon glyphicon-info-sign'></i></span>
                  <span class="tooltiptext2">Overwrite the weight of wanting to learn a skill during matching</span>
                </span>
                Weight of skills users want to learn
              </label>
              {{ form.weigh_learn }}
           <!--  </div> -->

          </div> <!-- Box 3 Body -->

        </div> <!-- Box 3 -->

        <!-- </div> --> <!-- Col 3 -->



        <!-- <div class="col-md-6"> -->

        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Delete Project: {{project.title}}</h3>
          </div>
          <div class="box-body">
            <p>
              Note that deleting a project is <strong>IRREVERSIBLE</strong>, please make
              sure you know what you are doing before pressing this button.
            </p>

            <!-- {% csrf_token %} -->
            <button class="btn btn-danger" name="delete_project" type="submit" value="delete_project">
              <i class="fa fa-trash"></i>
              Delete project
            </button>

          </div>
        </div>
         </div>

      </form>

    </div>

    {% endblock content %}