{% load static %}


{% block javascript %}

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>

    <script src="{% static 'js/filter.js' %}"></script>



{% endblock javascript %}

{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'css/filter.css' %}">

{% endblock stylesheets %}

{% block content %}

    <main class="cd-main-content">

        <section class="cd-gallery">
            <div class="container ">
                {% include "projects/partial_project_box.html" with projects=projects %}
            </div>
        </section>

        <div class="cd-filter">
            <form>
                <div class="cd-filter-block search">
                    <h4>Search</h4>
                    <div class="cd-filter-content">
                        <input type="search" placeholder="Search">
                    </div>
                </div>

{##}
{#                <fieldset class="cd-filter-block checkboxes">#}
{#                    <h4>Filters</h4>#}
{#                    <div class="checkbox">#}
{#                        <input type="checkbox" value=".sponsored"/>#}
{#                        <label></label>#}
{#                    </div>#}
{#                    <div class="checkbox">#}
{#                        <input type="checkbox" value=".open"/>#}
{#                        <label>Circle</label>#}
{#                    </div>#}
{#                </fieldset>#}

                <div class="cd-filter-block checkboxes">
                    <h4>Filters</h4>
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" value=".sponsored" type="checkbox" id="checkbox1">
                            <label class="checkbox-label" for="checkbox1">Sponsored</label>
                        </li>
                        <li>
                            <input class="filter" value=".open" type="checkbox" id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">Open</label>
                        </li>
                    </ul>
                </div>

                {#                <div class="cd-filter-block">#}
                {#                    <h4>Select</h4>#}
                {##}
                {#                    <div class="cd-filter-content">#}
                {#                        <div class="cd-select cd-filters">#}
                {#                            <select class="filter" name="selectThis" id="selectThis">#}
                {#                                <option value="">Choose an option</option>#}
                {#                                <option value=".option1">Option 1</option>#}
                {#                                <option value=".option2">Option 2</option>#}
                {#                                <option value=".option3">Option 3</option>#}
                {#                                <option value=".option4">Option 4</option>#}
                {#                            </select>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

                {#                <div class="cd-filter-block">#}
                {#                    <h4>Radio buttons</h4>#}
                {#                    <ul class="cd-filter-content cd-filters list">#}
                {#                        <li>#}
                {#                            <input class="filter" data-filter=".all" type="radio" name="radioButton" id="radio1" checked>#}
                {#                            <label class="radio-label" for="radio1">All</label>#}
                {#                        </li>#}
                {##}
                {#                        <li>#}
                {#                            <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">#}
                {#                            <label class="radio-label" for="radio2">Choice 2</label>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </div>#}
            </form>

            <a href="#0" class="cd-close">Close</a>
        </div>

        <a href="#0" class="cd-filter-trigger">Filters</a>
    </main>


{% endblock content %}

