


{% for project in projects %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
        <a href="{% url 'view_one_project' project.slug %}" style="none">
        <div class="box box-widget widget-user-2">

          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header {% if project.sponsor %} bg-yellow {% elif project.avail_mem %} bg-primary {% else %} bg-gray {% endif %}">
            <div class="widget-user-image">
              <img class="img-circle" src={{project.project_image}} alt="Project Image">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{project.title}}</h3>
            <h5 class="widget-user-desc">{{project.tagline}}</h5>
            {% if project.sponsor %}
            <span class="tooltip2 pull-right"><i class='glyphicon glyphicon-info-sign'></i>
                 <span class="tooltiptext2">This is a sponsored project</span>
            </span>
            {% endif %}
          </div><!-- /.box-header -->
          </a>


          <div class="box-footer no-padding">
            <ul class="nav nav-stacked" style="overflow:hidden; white-space: nowrap;text-overflow:ellipsis">
              <li>       
                <a>Course:
                  &nbsp;
                  <span style="margin-right:3px" class="label label-warning">
                    {{project.course.first.name}}                
                  </span>                       
                </a>  
              </li> 
              <li><a href="#">Skills:
                  {% if project.desired_skills != none %}
                  {% for skill in project.desired_skills.all %}
                  {% if forloop.counter < 5 %}
                  &nbsp;
                  <span class="label label-warning">
                      {{ skill.skill }}
                  </span>
                  {% if forloop.counter == 4 %}
                     &nbsp;...
                  {% endif %}
                  {% endif %}

                  {% endfor %}
                  {% endif %}
              </a></li>

            <li><a href="{% url 'profile' project.creator %}">Owner <span class="pull-right badge bg-blue">{{ project.creator }}</span></a></li>
          </ul>
        </div>

      </div><!-- /.box -->
      </a>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row"><div class="clearfix"></div>{% endif %}
    {% if forloop.last %}</div><div class="clearfix"></div>{% endif %}
{% empty %}
  <div>
  </h3>You are not in any projects</h3>

  </div>
{% endfor %}
