{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<script>
function checkTextField(field) {
    if (field.value == '') {
        alert("Field is empty");
    }
}
</script>
<input type="text" name="checking" id="checking"
onblur="checkTextField(this);" />
{% block content %}
  <form action="{% url 'tsr_update' cur_proj.slug ass.slug%}" method="post" role="form">
    {% csrf_token %}
    {% for form in forms %}
      <br>
      <br>
      <h3>For
      {{form.prefix}}</h3>
      {% for field in form.visible_fields %}
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>

        {{ field }}
        {% endfor %}
    {% endfor %}
    <br>
    <h5> <input type="submit" value="Submit">
    </form>
{% endblock content %}
