{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/projects.js' %}"></script>
{% endblock head %}

{% block content %}
  <form action="{% url 'tsr_update' cur_proj.slug %}" method="post" role="form">
    {% csrf_token %}
    {% for mail in emails %}
    {{mail}}
    {{ form.status }}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        <!-- {{ field.choice }} -->
        {{ field }}
        <!--
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
        -->
      </div>
    {% endfor %}
    {% endfor %}
    <input type="submit" value="Save TSR">
  </form>

{% endblock content %}
