{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{# Add the breadcrumbs for this page #}
{% block crumb %}

{# Breadcrumb for the course that this project is in #}
<li><a href="{% url 'view_one_course' course.slug %}"> {{course.name}} </a></li>

{# Breadcrumb for this project #}
<li><a href="{% url 'view_one_project' project.slug %}"> {{project.title}} </a></li>

{% endblock crumb %}


{% block content %}

<div>
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Description</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Updates</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Resources</a></li>
            <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Meeting Times</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Project Tools <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'edit_project' project.slug %}">Edit</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'post_update' project.slug %}">Post Update</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'resource_update' project.slug %}">Add Resource</a></li>
                    <li role="presentation" class="divider"></li>
                    <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Request Meeting</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email Members</a></li> -->
                </ul>
            </li>
            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Show Interest <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">High Interest</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Moderate Interest</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Low Interest</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Not Interested</a></li>
                </ul>
            </li> -->
            <li class="pull-right"><a href="{% url 'edit_project' project.slug %}" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="content">
                    {{ project.get_content_as_markdown|safe }}
                </div>
                <div>
                    <p>
                        <strong>Owner</strong>
                        <span class="label label-success">
                            {{ project.creator }}
                        </span>
                    </p>
                    <p><strong>Members</strong>
                        {% for mem in project.members.all %}
                        {% if mem.username != null %}
                        <span class="label label-primary">
                            {{ mem.username }}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <!-- /.tab-pane Updates -->
            <div class="tab-pane" id="tab_2">

                <h3>Updates</h3>
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label" style="list-style: none">
                        <span class="bg-red">
                            {{project.title}}
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    {% if user in project.members.all or user.username == project.creator%}
                    <li style="list-style: none"
                        onclick="window.location =
                        '{% url 'post_update' project.slug %}'">
                        <i class="fa fa-plus bg-green"></i>
                        <div class="timeline-item"
                            style="background-color: #ffffff">
                            <div class="timeline-header">
                                Add an update
                            </div>
                        </div>
                    </li>
                    {% endif %}

                    {% for up in updates.all %}
                    <li style="list-style: none">
                        <i class="fa fa-comments bg-blue"></i>
                        <div class="timeline-item">
                            <div class="timeline-header clearfix">
                                {{up.update_title}}
                            </div>
                            <div class="timeline-body">
                                {{up.update}}
                            </div>
                            <div class="timeline-footer clearfix">
                                <span class="label label-primary"
                                    onclick="window.location =
                                    '{% url 'profile' up.user.username %}'">
                                    {{up.user.username}}
                                </span>
                                <i class="pull-right">
                                    Posted {{up.date}}
                                </i>
                            </div>
                        </div>
                    </li>

                    {% empty %}
                    <li style="list-style: none">
                        <i class="fa fa-times bg-red"></i>
                        <div class="timeline-item"
                            style="background-color: #ffffff">
                            <div class="timeline-header">
                                There are no updates
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li style="list-style: none">
                        <i class="fa fa-clock-o"></i>
                    </li>
                </ul>



                {% comment %}
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <ul class="timeline">
                            <!-- timeline time label -->
                            <li class="time-label" style="list-style: none">
                                <span class="bg-red">
                                    {{project.title}}
                                </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            {% for up in updates.all %}
                            {% if up.update_title != null %}
                            <li style="list-style: none">
                                <i class="fa fa-envelope bg-blue"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{up.date}} </span>

                                    <h3 class="timeline-header">{{up.update_title}}</h3>

                                    <div class="timeline-body">
                                        {{up.update}}
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">{{up.user.username}}</a>
                                        <a class="btn btn-danger btn-xs">{{project.title}}</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            {% endif %}
                            {% endfor %}

                            <li style="list-style: none">
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                {% endcomment %}
            </div>
            <!-- /.tab-pane End Updates -->

            <!-- /.tab-pane Resources -->
            <div class="tab-pane" id="tab_3">
                <div class="row">
                    <div class="col-md-12">
                    <h3 class="box-title">Resources</h3>
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Resource Title</th>
                                        <th>URL Link</th>
                                        <th>Posted By</th>
                                        <th>Posted On</th>
                                    </tr>
                                    {% for re in resources.all %}
                                    {% if re.src_title != null %}
                                    <tr>
                                        <td>{{re.src_title}}</td>
                                        <td><a href="{{re.src_link}}">{{re.src_link}}</a></td>
                                        <td>{{re.user.username}}</td>
                                        <td>{{re.date}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-pane End Resources -->

            <!-- /.tab-pane request meeting -->
            <div class="tab-pane" id="tab_4">
                {% for p in meetings %}
                  <br>{{p}}</br>
                {% endfor %}

            </div>
            <!-- /.tab-pane meeting -->


        </div>
        <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->
</div>


{% endblock content %}
