{% extends 'base.html' %} {% load static %} {% load i18n %} # Clear out javascript block at bottom of page so we can import specific js #} {% block javascript %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);


</script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>

{% endblock javascript %} {% block stylesheets %} {{ block.super }}

<link rel="stylesheet" href="{% static 'css/Tooltip.css' %}">
<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1210387_ltrsatgg44.css">
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock stylesheets %}
{% block content %}

<!-- BREADCRUMB -->
<!-- {% block crumb %}
<li><a href="{% url 'view_projects' %}">My Projects</a></li>
{% endblock crumb %} -->

<div class="box box-success sm-box-solid">

    <div class="box-header with-border">
        <h6 class="box-title">Active Projects</h6>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body ScrollStyleProfile">
        {% include "projects/partial_project_profile.html" with projects=active %}
    </div>

    <!-- /.box-body -->
</div>

<div class="box sm-box-solid collapsed-box">

    <div class="box-header with-border">
        <h6 class="box-title">Inactive Projects</h6>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body ScrollStyleProfile">
        {% include "projects/partial_project_profile.html" with projects=inactive %}
    </div>

    <!-- /.box-body -->
</div>

{% endblock content %}
