{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-6 clearfix">
          <div class="box box-primary">
              <div class="box-header with-border">
                  <h3 class="box-title">Forgot Password</h3>
              </div>

              <div class="box-body">
                {% csrf_token %}
                {{ form.status }}
                <div class="form-group">
                  {{ form.as_p }}
                </div>                
               
                <div class="box-footer">
                  <div class="pull-left">                      
                    <a href="{% url 'login' %}">
                      <button class="btn btn-default" type="button">
                          Cancel
                      </button>
                  </a>

                  </div>
                  <div class="pull-right">
                    <button class="btn btn-success" type="submit">
                        Submit
                    </button>
                  </div>
              </div>
              </div>
          </div>
      </div>
    </div>    
  </form>
{% endblock %}
