{% extends 'adminlte/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/projects.js' %}"></script>
{% endblock head %}

{% block content %}
  <div class="page-header">
    <h1> Create Project </h1>
  </div>
  <form action="{% url 'create_project' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="button" class="submit"> Submit </button>
    </div>
  </form>

{% endblock content %}
