{% extends 'adminlte/base.html' %}

{% load static %}
{% load i18n %}

{% block title %} Projects {% endblock %}

{% block head %}
  <link href="{% static 'css/projects.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <div class="page-header">
    <a href="{% url 'create_project' %}"> Create Project </a>
    <h1> Projects </h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="projects">
        {% for project in projects %}
          <p>{{ project.title }}<p>
        {% empty %}
          <h4 class="no-projects"> There are no projects yet. <a href="{% url 'create_project' %}"> Go ahead and create one now!</a></h4>
        {% endfor %}
      </section>
    </div>
  </div>

  <!--paginator-->

{% endblock content %}
