.ScrollStyle
{
    max-height: 400px;
    overflow-y: scroll;
}
.smallScrollStyle
{
    max-height: 50px;
    overflow-y: scroll;
}
.largeScrollStyle
{
    max-height: 550px;
    overflow-y: scroll;
}
