{% extends 'base.html' %}


{% block content %}
  <h1>Create project!</h1>
  <form action="{% url 'create_project' %}" method="post" role="form">
    {% csrf_token %}
    <label for="course_name">Course name: </label>
    <input id="course_name" type="text" name="course_name" value="{{ course_name }}" >
    <label for="course_info">Course info: </label>
    <input id="course_info" type="text" name="course_info" value="{{ course_info }}" >
    <input type="submit" value="OK">
  </form>
{% endblock %}
