{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Teamwork{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
  {% block body %}
      <h1>Teamwork</h1>
      <a href="{% url 'create_project' %}"> Create Project </a>
      <a href="{% url 'view_projects' %}"> View Projects </a>
      <a href="{% url 'login' %}"> Login </a>
      <a href="{% url 'logout' %}"> Logout </a>
    {% block main %}
    {% endblock main %}
  {% endblock body %}
</body>
</html>
