<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://www.gravatar.com/avatar/0cf665cbc2864084b988b0332fbebaae?s=90&amp;d=mm" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <!-- sidebar menu: : style can be found in sidebar.less -->
        
        <ul class="sidebar-menu">
            
            <li class="header">MAIN NAVIGATION</li>

            

    

        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
        </li>

        <li>
            <a href="/project/create/">
                <i class="fa fa-plus"></i> <span>Create Project</span>
            </a>
        </li>

        <li>
            <a href="/project/all/">
                <i class="fa fa-briefcase"></i> <span>My Projects</span>
            </a>
        </li>

        


        <li>
            <a href="/course/">
                <i class="fa fa-graduation-cap"></i> <span>My Courses</span>
            </a>
        </li>

        <li>
            <a href="/user/andgates/">
                <i class="fa fa-user"></i> <span>Profile</span>
            </a>
        </li>

        <li>
            <a href="/user/andgates/edit/">
                <i class="fa fa-wrench"></i> <span>Edit Profile</span>
            </a>
        </li>
    


    <!-- Temporary sidebar links for easy testing, will move later -->
    
    

            
        </ul>
        
    </section>
    <!-- /.sidebar -->
</aside>
