<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grepthink</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrapCSS/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Grepthink</a>
        <a class="btn btn-success" href="{% url 'login' %}">Sign In</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Join Grepthink</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-xs-4 col-md-6" style="padding-top:10px">
                  <a href="{% url 'signup' %}" class="btn btn-block btn-lg btn-success">Begin as Student/TA</a>
                </div>
                <div class="col-xs-4 col-md-6" style="padding-top:10px">
                  <a href="{% url 'profSignup' %}" class="btn btn-block btn-lg btn-primary">Begin as Instructor</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-rocket m-auto text-success"></i>
              </div>
              <h3>Create Projects</h3>
              <p class="lead mb-0">Have a project idea? Post your project and recruit your classmates!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-success"></i>
              </div>
              <h3>Build Better Teams</h3>
              <p class="lead mb-0">One match at a time.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-success"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Intuitive user interface makes managing your courses extremely easy.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/images/course_view.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>View entire courses at a glance</h2>
            <p class="lead mb-0">Manage your course easily and effectively.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../static/images/project_view.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Immersive Project Management</h2>
            <p class="lead mb-0">Get your half-baked idea out there, even if it's quarter-baked!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <!-- <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../../static/images/ryan.jpg" alt="">
              <h5>Ryan M.</h5>
              <p class="font-weight-light mb-0">"It truly is the shit!"</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="col-12 col-md-12">
                <a href="#" type="submit" class="btn btn-block btn-lg btn-primary">Return to top</a>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="{% url 'about' %}">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
            <!-- <p class="text-muted small mb-4 mb-lg-0">&copy; GrepThink 2018. All Rights Reserved.</p> -->
            <p class="text-muted small mb-4 mb-lg-0">GrepThink 2018</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <!-- <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li> -->
              <!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-github fa-2x fa-fw"></i>
                </a>
              </li> -->
              <li class="list-inline-item">
                <a href="https://grepthink-support.slack.com/">
                  <i class="fa fa-slack fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrapJS/bootstrap.bundle.min.js"></script>

  </body>

</html>
