{% extends 'base.html' %}


{% block content %}

<form action="" method="post" role="form"
    class="clearfix" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {% if field.label == 'Students' %}
            <div style="max-height: 200px; overflow-y: scroll;">
                {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="pull-right">
        <button class="btn btn-success" type="submit" name="SUBMIT">
            Continue
        </button>
    </div>
</form>
{% endblock content %}
