{% extends 'adminlte/base.html' %}

{% load static %}
{% load i18n %}

{% block title %} Potential Teammates {% endblock %}

{% block head %}
<link href="{% static 'css/projects.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1> Potential Teammates </h1>
</div>


<section class="matches">
    <div class="row">
      {% for p_match_tup in project_match_list %}

            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p_match_tup.0.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        <ol>
                            {% for match in p_match_tup.1 %}
                                <li>{{match.username}}</li>

                            {% endfor %}
                        </ol>
                        </p>
                        <p>
                            <strong>Owner</strong>
                            <span class="label label-success">
                                {{ p_match_tup.0.creator }}
                            </span>
                        </p>
                        <p><strong>Members</strong>
                            {% for mem in p_match_tup.0.members.all %}
                            {% if mem.username != null %}
                            <span class="label label-primary">
                                {{ mem.username }}
                            </span>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="panel-footer clearfix">
                      {% if request.user.username == p_match_tup.0.creator %}
                        <a href="{% url 'edit_project' p_match_tup.0.slug %}">
                            <button class="btn btn-success">
                                <i class="fa fa-edit"></i>
                                Edit
                            </button>
                        </a>
                      {% endif %}
                        <a href="{% url 'view_one_project' p_match_tup.0.slug %}"
                            class="pull-right">
                            <button class="btn btn-info">
                                <i class="fa fa-eye"></i>
                                View
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        {% empty %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning"></i>
            There are no projects yet. Go ahead and
            <a href="{% url 'create_project' %}" class="alert-link">
                create one now!
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!--paginator-->

{% endblock content %}
